<!-- <app-user-header></app-user-header> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>reviews|online home decor</title>
</head>

<div class="review">
  <div class="inner">
    <h1>Reviews</h1>
    <div class="border"></div>
    <div class="row">
      <div class="col">
        <div class="reviewer">
          <img src="/assets/Images/Abinaya.jpg" alt="">
        </div>
        <div class="white">
        <div class="name">Abinaya M</div>
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis adipisci autem debitis suscipit quo
          eligendi sequi modi corporis porro quibusdam omnis, ipsum, natus optio ratione vel voluptatibus eveniet!
          Repellendus, mollitia?</p>
        </div>
      </div>

      <div class="col">
        <div class="reviewer">
          <img src="/assets/Images/Jothika.jpg" alt="">
        </div>
        <div class="white">
        <div class="name">Jothika L</div>
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis adipisci autem debitis suscipit quo
          eligendi sequi modi corporis porro quibusdam omnis, ipsum, natus optio ratione vel voluptatibus eveniet!
          Repellendus, mollitia?</p>
        </div>

      </div>

      <div class="col">
        <div class="reviewer">
          <img src="/assets/Images/Kavitha.jpg" alt="">
        </div>
        <div class="white">
        <div class="name">Kavitha R</div>
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis adipisci autem debitis suscipit quo
          eligendi sequi modi corporis porro quibusdam omnis, ipsum, natus optio ratione vel voluptatibus eveniet!
          Repellendus, mollitia?</p></div>
      </div>
    </div>
  </div>
</div>