<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>SignUp</h1>
        </div>
        <form class="form" (ngSubmit)="submitForm()" [formGroup]="loginForm1">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Full Name</label>
              <input type="text" placeholder="Enter your name" name="username"  [(ngModel)]="username" formControlName="username" required>
          <div class="error" *ngIf="loginForm1.controls['username'].invalid&&loginForm1.controls['username'].dirty">
            <small *ngIf="loginForm1.controls['username'].errors?.['required']">Please Enter username</small>
            <small *ngIf="loginForm1.controls['username'].errors?.['pattern']">User name-[7-15 characters and number</small>
          </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              
          <input type="email" placeholder="Enter your email id" name="email"  [(ngModel)]="email" formControlName="email" required>
              <div class="error" *ngIf="loginForm1.controls['email'].invalid&&loginForm1.controls['email'].dirty">
                <small *ngIf="loginForm1.controls['email'].errors?.['required']">Please Enter email</small>
                <small *ngIf="loginForm1.controls['email'].errors?.['pattern']">Please enter correct email</small>
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" placeholder="Set password"  name="password"  [(ngModel)]="password" formControlName="password" required>
          <div class="error" *ngIf="loginForm1.controls['password'].invalid&&loginForm1.controls['password'].dirty">
            <small *ngIf="loginForm1.controls['password'].errors?.['required']">Please Enter password</small>
            <small *ngIf="loginForm1.controls['password'].errors?.['pattern']">7-15 characters-At least one numeric digit and special character</small>
          </div>
            <div class="mb-3">
              <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
              <input type="password" placeholder="Re-enter the password" name="confirmpass" [(ngModel)]="confirmpass" formControlName="confirmpass" required>

          <div class="error" *ngIf="loginForm1.controls['confirmpass'].invalid&&loginForm1.controls['confirmpass'].dirty">
            <small *ngIf="loginForm1.controls['confirmpass'].errors?.['required']">Please Enter confirmpass</small>
            <small *ngIf="loginForm1.controls['confirmpass'].errors?.['ConfirmedValidator']">Please Enter correct confirmpass</small>
          </div>
          <button  [disabled]="!loginForm1.valid"   class="btn btn-primary mb-2">Submit</button>
          
           <a style="color: black; margin-left: 20%; text-decoration: none;"routerLink="/login">Already registered? click to Login!</a>
      </div>
    </div>
  </div>
</div> -->