
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Home decor Website </title>
</head>

<body>
  <div class="content">
    <h1>Welcome to our Home Decor Store</h1>
    <p>Discover the latest trends and designs for your home</p>
    <button id="btn" routerLink="home">Shop Now
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <img src="/assets/Images/flower-background.png">
    <div class="image-1">
      <img src="/assets/Images/hanging light-1 (1).png">
    </div>
    <div class="image-2">
      <img src="/assets/Images/buddha-2.png">
    </div>
  </div>



  <div class="banner">
    <div class="banner-img">
      <a routerLink="/mirror"><img src="/assets/Images/banner/banner-1.webp" width="250" height="180"></a>
    </div>
    <div class="banner-img">
      <a routerLink="/Status"><img src="/assets/Images/banner/banner-2.avif" width="230" height="180"></a>
    </div>
    <div class="banner-img">
      <a routerLink="/light"><img src="/assets/Images/banner/banner-3.webp" width="250" height="180"></a>
    </div>
  </div>

  <h1 class="pheading" id="decor">Our Lastest Products</h1>
  <div class="sec">
    <div class="products">
      <div class="card">
        <div class="img">
          <img src="/assets/Images/wall shelves.png">
        </div>
        <div class="desc">Wall Shelves</div>
        <div class="title">hexagonal box</div>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="price">Starting at Rs.200/-</div>
          <div class="moreitem">
            <button><a routerLink="/productPage" >More item<i class="fa fa-arrow-right" ></i></a></button>
          </div>
        </div>
      </div>
    
    
     
      <div class="card">
        <div class="img">
          <img src="/assets/Images/cup/glass ware/cup.png">
        </div>
        <div class="desc">Cup</div>
        <div class="title">Glass Container</div>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="price">Starting at Rs.200/-</div>
          <div class="moreitem">
            <button><a routerLink="/cup">More item<i class="fa fa-arrow-right"></i></a></button>
          </div>
        </div>
      </div>
     
      <div class="card">
        <div class="img">
          <img src="/assets/Images/frame10.png">
        </div>
        <div class="desc">Mirror</div>
        <div class="title">Oval gold mirror frame</div>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="price">Starting at Rs.100/-</div>
          <div class="moreitem">
            <button><a routerLink="/mirror">More item<i class="fa fa-arrow-right"></i></a></button>
          </div>
        </div>
      </div>    
      
      
      <div class="card">
        <div class="img">
          <img src="/assets/Images/light6.png">
        </div>
        <div class="desc">Light</div>
        <div class="title">Elegant Yellow light</div>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="price">Starting at Rs.400/-</div>
          <div class="moreitem">
            <button><a routerLink="/light">More item<i class="fa fa-arrow-right"></i></a></button>
          </div>
        </div>
      </div><div class="card">
        <div class="img">
          <img src="/assets/Images/clock.png.png">
        </div>
        <div class="desc">Clocks</div>
        <div class="title">Attractive alarm clocks</div>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="price">Starting at Rs.300/-</div>
          <div class="moreitem">
            <button><a routerLink="/clocks">More item<i class="fa fa-arrow-right"></i></a></button>
          </div>
        </div>
      </div>
     
      <div class="card">
        <div class="img">
          <img src="/assets/Images/sculptures.png.png">
        </div>
        <div class="desc">Sculptures</div>
        <div class="title">Classical sculpture</div>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="price">Starting at Rs.99/-</div>
          <div class="moreitem">
            <button><a routerLink="/sculpture">More item<i class="fa fa-arrow-right"></i></a></button>
          </div>
        </div>
      </div>
      
      <!-- <div class="card">
        <div class="img">
          <img src="/assets/Images/vases.png.png">
        </div>
        <div class="desc">Flower vase</div>
        <div class="title">Vase with orange Peonies</div>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="price">Starting at 299</div>
          <div class="moreitem">
            <button><a routerLink="/vase">More item<i class="fa fa-arrow-right"></i></a></button>
          </div>
        </div>
      </div>
     
      <div class="card">
        <div class="img">
          <img src="/assets/Images/frame11.png">
        </div>
        <div class="desc">Frames</div>
        <div class="title">Borders Graphic Frames</div>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div class="price">Starting at 359</div>
          <div class="moreitem">
            <button><a routerLink="/frames">More item<i class="fa fa-arrow-right"></i></a></button>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</body>
<app-footer></app-footer>

