<!-- <app-admin-header></app-admin-header> -->
<div class="update-product" style="margin-top:80px;">
  <h1>Update Product</h1>
  <p class="message-p">{{productMessage}}</p>
  <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
    <input type="text" class="form-input" placeholder="Enter Product Image URL" name="image" ngModel="{{productData?.image}}"/>
    <textarea type="text" class="form-input" placeholder="Enter Product Description" name="description" ngModel="{{productData?.description}}"></textarea>
   <input type="text" class="form-input" placeholder="Enter Product Category" name="title" ngModel="{{productData?.title}}"/>
   <input type="text" class="form-input" placeholder="Enter Product Price" name="price" ngModel="{{productData?.price}}"/>
<button class="form-button">Update Product</button>

  </form>
</div>
