<!-- <app-user-header></app-user-header> -->
<body>
    <section>
        <div class="row">
            <h1>Our Features</h1>

        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="icon">
                        <i class="fa fa-user"></i>

                    </div>
                    <h3>User Friendly</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cumque possimus ut quas reprehenderit eum consequuntur</p>

                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="icon">
                        <i class="fa fa-shield"></i>

                    </div>
                    <h3>Super Secure</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cumque possimus ut quas reprehenderit eum consequuntur</p>
                    
                </div>
            </div>


            <div class="column">
                <div class="card">
                    <div class="icon">
                        <i class="fa fa-headset"></i>

                    </div>
                    <h3>Quick Support</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cumque possimus ut quas reprehenderit eum consequuntur</p>
                    
                </div>
            </div>
        </div>
    </section>
</body>


